<div class="col-md-4">
  <img src="<%= @film.poster %>">
</div>
<dl class="dl-horizontal col-md-4">
  <dt>Title</dt>
  <dd><%= @film.title%></dd>
  <dt>Year</dt>
  <dd><%= @film.year%></dd>
  <dt>Genre</dt>
  <dd><%= @film.genre %></dd>
  <dt>Director</dt>
  <dd><%= @film.director %></dd>
  <dt>Writer</dt>
  <dd><%= @film.writer %></dd>
  <dt>Actors</dt>
  <dd><%= @film.actors %></dd>
  <dt>Description</dt>
  <dd><%= @film.description %></dd>
</dl>
